
@{
    ViewData["Title"] = "Gioithieu";
    Layout = "~/Views/Shared/_LayoutTrangchu.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/gioithieu.css">
    <title>Document</title>
</head>
<body>
    <div class="thuctap">
        <div class="banner position-relative">
            <img src="../images/funir-images/bannerrecom.jpg" alt="">
            <div class="logobn position-absolute">
                <img src="../images/funir-images/logo1.png" alt="">
                <h2 class="text-uppercase">Giới thiệu</h2>
            </div>
        </div>
        <div class="content-recommend">
            <div class="content position-absolute">
                <div class="ct1-recommend">
                    <div class="container text-center">
                        <div class="row">
                            <h2 class="text-uppercase  pt-5 pb-3">Thành lập & phát triển <hr /></h2>

                            <div class="col-12 col-sm-12 col-lg-6">
                                <img src="../images/funir-images/img1.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-lg-6">
                                <p class="fw-semibold pt-2 pt-sm-2 pt-lg-0">
                                    Nội thấy Hoàng Hoan được xây dựng dựa trên tình yêu, đam mê của tôi đối với nghề mộc và Khao khát mang những sản phẩm nội thất đẹp của mình đến với khách hàng thân yêu.
                                    Cả một quá trình từ 1 người thợ phụ rồi được làm thợ mộc chính, tự tạo ra cho mình 1 phân xưởng nhỏ rồi dần phát triển và hiện tại Hoàng Hoan đã là một trong những công ty có dịch vụ thiết kế và thi công nội thất uy tín chất lượng với giá tốt nhất tại Hà Nội với sứ mệnh “đem đến cho khách hàng không gian nội thất hòan hảo”.
                                    Hoàng Hoan luôn nỗ lực để tạo ra không gian đẹp đẹp cho khách hàng theo nhiều gam màu sắc khác nhau và phong cách đa dạng theo đúng ở sở thích, lứa tuổi và phong thủy của khách hàng.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ct2-recommend">
                    <div class="container text-center">
                        <h2 class="text-uppercase pt-5 pb-3">Tầm nhìn <hr /></h2>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-12">
                                <img src="../images/funir-images/img2.jpg" alt="">
                            </div>
                            <div class="col-12 col-sm-12 col-lg-12">
                                <p class="fw-semibold pt-3">
                                    Chúng tôi luôn hướng đến việc tạo ra các sản phẩm nội thất chất trên triết lý tôn trọng và giữ gìn những gì tự nhiên đã ban tặng cho con người. Chúng tôi luôn tìm tòi và ứng dụng các giải pháp sản phẩm và công nghệ tiên tiến nhất, hợp tác với các đối tác công nghệ hàng đầu thế giới, tìm kiếm và phát triển các vùng nguyên liệu tự nhiên được thiên nhiên chọn lọc, ưu đãi trong nước lẫn nước ngoài, tất cả nhằm tạo ra các sản phẩm nội thất tự nhiên gần gũi cho người khách hàng Việt Nam.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ct3-recommend">
                    <div class="container">
                        <h2 class="text-uppercase pt-5 pb-3 text-center">Sứ mệnh <hr /></h2>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-6 mb-3">
                                <div class="boder d-flex">
                                    <label class="pt-3" for="">
                                        <img class="" src="../images/funir-images/su-menh1.jpg" alt="">
                                    </label>
                                    <p class="fw-semibold">
                                        <span class="d-block">
                                            Với xã hội
                                        </span>
                                        Hài hòa lới ích doanh nghiệp với lợi ích xã hội, tích cực cùng cộng đồng xây dựng môi trường sống bền vững.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-6 mb-3">
                                <div class="boder d-flex height-112">
                                    <label class="pt-3" for="">
                                        <img src="../images/funir-images/su-menh2.jpg" alt="">
                                    </label>
                                    <p class="fw-semibold">
                                        <span class="d-block">
                                            Với nhân viên
                                        </span>
                                        Xây dựng môi trường làm việc chuyên nghiệp, năng động, sáng tạo và nhân văn.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-lg-6  mb-3">
                                <div class="boder d-flex">
                                    <label class="pt-3" for="">
                                        <img src="../images/funir-images/su-menh3.jpg" alt="">
                                    </label>

                                    <p class="fw-semibold">
                                        <span class="d-block">
                                            Với đối tác
                                        </span>
                                        Đề cao tinh thần hợp tác cùng phát triển, cam kết trở thành "người đồng hành số 1" của đối tác.
                                    </p>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-lg-6  mb-3">
                                <div class="boder d-flex">
                                    <label class="pt-3" for="">
                                        <img src="../images/funir-images/su-menh4.jpg" alt="">
                                    </label>

                                    <p class="fw-semibold">
                                        <span class="d-block">
                                            Với thị trường
                                        </span>
                                        Đề cao tinh thần hợp tác cùng phát triển, cam kết trở thành "người đồng hành số 1" của đối tác.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
</body>
</html>

